<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Encuesta Docente</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encuesta Docente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{institucionSeleccionada}}</ion-card-title>
      <ion-card-subtitle>Evaluación</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-select aria-label="curso" (ionChange)="onCourseChange($event)" placeholder="Seleccione curso">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button [disabled]="!selectedCourse" (click)="evaluate()">Seleccionar grupo</ion-button>

      <!--MOSTRAR EL EVALUADOR-->
      <ion-item *ngIf="visibilidadItems">
          <ion-card>
          </ion-card>
        
          <ion-list>
            <ion-item>
              <ion-select aria-label="grupo" placeholder="Seleccione grupo" (ionChange)="onGroupChange($event)">
                <ion-select-option value="a">Grupo A</ion-select-option>
                <ion-select-option value="b">Grupo B</ion-select-option>
                <ion-select-option value="c">Grupo C</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        
         <ion-button [disabled]="!selectedGroup"   (click)="comenzarEvaluacion()" >Comenzar Evaluación</ion-button>
      </ion-item>
      <ion-button *ngIf="visibilidadItems" [disabled]="!selectedGroup" (click)="comenzarEvaluacion()" >Reporte</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>