<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Encuesta Alumnos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EncuestaAlumnos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Pregunta 1-->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="1">Pregunta 1</ion-card-title>
      <ion-card-subtitle>¿Te gustó construir el robot paso a paso?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😊</span>
            </ion-thumbnail>
            <ion-label>¡Me encantó!</ion-label>
            <ion-radio slot="start" value="item1"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙂</span>
            </ion-thumbnail>
            <ion-label>Me gustó</ion-label>
            <ion-radio slot="start" value="item2"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😐</span>
            </ion-thumbnail>
            <ion-label>Está bien</ion-label>
            <ion-radio slot="start" value="item3"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙁</span>
            </ion-thumbnail>
            <ion-label>No me gustó mucho</ion-label>
            <ion-radio slot="start" value="item4"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😡</span>
            </ion-thumbnail>
            <ion-label>No me gustó nada</ion-label>
            <ion-radio slot="start" value="item5"></ion-radio>
          </ion-item>
  
        </ion-list>

        
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!--Pregunta 2-->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="2">Pregunta 2</ion-card-title>
      <ion-card-subtitle>¿Cómo te sentiste cuando algo del robot no salió como esperabas o cuando hubo que arreglarlo?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😊</span>
            </ion-thumbnail>
            <ion-label>¡Me encantó!</ion-label>
            <ion-radio slot="start" value="item1"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙂</span>
            </ion-thumbnail>
            <ion-label>Me gustó</ion-label>
            <ion-radio slot="start" value="item2"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😐</span>
            </ion-thumbnail>
            <ion-label>Está bien</ion-label>
            <ion-radio slot="start" value="item3"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙁</span>
            </ion-thumbnail>
            <ion-label>No me gustó mucho</ion-label>
            <ion-radio slot="start" value="item4"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😡</span>
            </ion-thumbnail>
            <ion-label>No me gustó nada</ion-label>
            <ion-radio slot="start" value="item5"></ion-radio>
          </ion-item>
  
        </ion-list>

        
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!--Pregunta 3-->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="3">Pregunta 3</ion-card-title>
      <ion-card-subtitle>¿Te gustó jugar y hacer que el robot se moviera o hiciera cosas?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😊</span>
            </ion-thumbnail>
            <ion-label>¡Me encantó!</ion-label>
            <ion-radio slot="start" value="item1"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙂</span>
            </ion-thumbnail>
            <ion-label>Me gustó</ion-label>
            <ion-radio slot="start" value="item2"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😐</span>
            </ion-thumbnail>
            <ion-label>Está bien</ion-label>
            <ion-radio slot="start" value="item3"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙁</span>
            </ion-thumbnail>
            <ion-label>No me gustó mucho</ion-label>
            <ion-radio slot="start" value="item4"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😡</span>
            </ion-thumbnail>
            <ion-label>No me gustó nada</ion-label>
            <ion-radio slot="start" value="item5"></ion-radio>
          </ion-item>
  
        </ion-list>

        
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!--Pregunta 4-->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="4">Pregunta 4</ion-card-title>
      <ion-card-subtitle>¿Te gustó probar ideas nuevas con el robot, como cambiarle algo o hacer que haga algo diferente?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😊</span>
            </ion-thumbnail>
            <ion-label>¡Me encantó!</ion-label>
            <ion-radio slot="start" value="item1"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙂</span>
            </ion-thumbnail>
            <ion-label>Me gustó</ion-label>
            <ion-radio slot="start" value="item2"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😐</span>
            </ion-thumbnail>
            <ion-label>Está bien</ion-label>
            <ion-radio slot="start" value="item3"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙁</span>
            </ion-thumbnail>
            <ion-label>No me gustó mucho</ion-label>
            <ion-radio slot="start" value="item4"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😡</span>
            </ion-thumbnail>
            <ion-label>No me gustó nada</ion-label>
            <ion-radio slot="start" value="item5"></ion-radio>
          </ion-item>
  
        </ion-list>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!--Pregunta 5-->
  <ion-card>
    <ion-card-header>
      <ion-card-title id="5">Pregunta 5</ion-card-title>
      <ion-card-subtitle>¿Te gustó trabajar con otros niños para construir o hacer funcionar el robot?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😊</span>
            </ion-thumbnail>
            <ion-label>¡Me encantó!</ion-label>
            <ion-radio slot="start" value="item1"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙂</span>
            </ion-thumbnail>
            <ion-label>Me gustó</ion-label>
            <ion-radio slot="start" value="item2"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😐</span>
            </ion-thumbnail>
            <ion-label>Está bien</ion-label>
            <ion-radio slot="start" value="item3"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">🙁</span>
            </ion-thumbnail>
            <ion-label>No me gustó mucho</ion-label>
            <ion-radio slot="start" value="item4"></ion-radio>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <span style="font-size: 40px;">😡</span>
            </ion-thumbnail>
            <ion-label>No me gustó nada</ion-label>
            <ion-radio slot="start" value="item5"></ion-radio>
          </ion-item>
  
        </ion-list>

        
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  

</ion-content>
